<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button  (click)="collapsed.set(!collapsed())" (click)="changeIcon()">
    <mat-icon >{{icon}}</mat-icon>
  </button>
  <h1 class="heading">Export Utility</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="sideNavWidth()" [class.slideSideNav]="collapsed">
    <app-custom-sidenav [collapsed] = "collapsed()"></app-custom-sidenav>
  </mat-sidenav>
  
  <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()" [class.slideSide]="collapsed">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
